* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9000;
    display: block;
    align-items: center;
    background-color: rgba(28, 25, 25, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);

    .centered-menu-wrap {
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        .main-nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            ul {
                display: flex;
                list-style-type: none;
                margin: 0;
                font-size: 2rem;
            }

            ul li a {
                padding: 1rem;
                text-decoration: none;
                color: aliceblue;
            }
        }
    }
}

.details {
    background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../images/bck-img.jpg);
    ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 15em;
    color: aliceblue;
    min-height: 60dvh;

    h1 {
        font-size: 6rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 50px;
        font-size: 2rem;
    }

    button {
        padding: .8rem .12rem;
        width: 15rem;
        font-size: 1.5rem;
        border-radius: 6px;
        margin-bottom: 50px;
    }

    h3 {
        font-size: 2rem;
    }

    button:hover {
        background-color: aqua;
    }
}


.about-title {
    text-align: center;

    h2 {
        font-size: 3rem;
    }
}

.about-session {
    display: flex;
    flex-direction: row;
    padding: 0 10rem;
    height: 90vh;
    align-items: center;
    justify-content: center;

    .about-session-summary {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-basis: 50%;
    }

    h3 {
        font-size: 4em;
    }

    h4 {
        font-size: 1.5em;
    }

    .about-img {
        flex-basis: 50%;
        width: 100%;
    }

    .about-image {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.our-services {
    padding-top: 6em;
}

.about-our-services {
    text-align: center;

    h2 {
        font-size: 3rem;
    }
}

.various-services {
    display: flex;
    padding: 6rem;
    flex-wrap: wrap;
    gap: 6em;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 5rem;
}

iframe {
    width: 100%;
    height: 300px;
    filter: invert(100%);
}

/* media queries for mobile devices */

@media screen and (max-width: 900px) {}